*.tar.gz export-ignore
*.tar export-ignore
*.zip export-ignore
.sass-cache/ export-ignore
_notes/ export-ignore
/node_modules/ export-ignore
templates/bootstrap/ export-ignore
templates/bootstrap/** export-ignore
font-awesome/ export-ignore
font-awesome.* export-ignore