*.tar.gz export-ignore
*.tar export-ignore
*.zip export-ignore
.sass-cache/ export-ignore
/archives/ export-ignore
_notes/ export-ignore
/node_modules/ export-ignore
sphinxcon/templates/bootstrap/ export-ignore
sphinxcon/templates/bootstrap/** export-ignore
sphinxcon/font-awesome/ export-ignore
sphinxcon/font-awesome.* export-ignore
