/* layout.css

  LAYOUT RULES divide the page into major sections such as Header, Footer, 
  Navigation, Content, Sidebar, Footer. These rules set details such as 
  widths, heights, alignment, margins, padding

 */

//== Pre-configured Bootstrap Rows and Columns
//
// Set up classes for areas of a page that represent a bootstrap ROW
.top-bar,
.featured,
.main-content-wrapper,
.photo-and-info,
.biography,
.footer-top,
.footer-middle,
.footer-bottom {
  @include make-row();
}

//
// classes for areas of a page that represent specific bootstrap column sizes
.title-bar {
  @include make-xs-column(12);
}


//== Footer at bottom of (or below) the visible view screen
//
// Set up main container so footer will be pushed down when there's not enough content to do it naturally
main.main-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  margin-bottom: -($footer-height);
  padding-top:     0;
  padding-bottom:  $footer-height;
}
//
// Define the footer hight and set it's top margin to the negative of that same amount so that it 
footer.footer {
  height: $footer-height;
  margin-top: 0px;
}

//== Vertical spacing between sections
//
// Set consistent margins on the bottom of the main section blocks.
.top-bar,
.featured,
.sidebar,
.main-content-wrapper {
  margin-bottom: $grid-gutter-width;
}

//== Vertical padding for  sections
//
// Set padding at the top and bottom of the section blocks to match the padding on the outside edges
.featured,
.main-content-wrapper {
  padding-top:     $grid-gutter-width/2;
  padding-bottom:  $grid-gutter-width/2;
}

//== Page Header (Title) and Highlight Section Padding
//
.title-bar, 
.highlighted {
  padding-top: $grid-gutter-width/2;
  padding-bottom: $grid-gutter-width/2;
}

//== reset padding on the "page-header" (Title) style
.page-header {
  padding-bottom: initial;
}

//== Featured region 
//
// Set margins for text and images inside featured section
.featured {
  h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  img {
    margin-left: auto;
    margin-right: auto;
  }
  
  p {
    margin-top: 10px;
    margin-bottom: 0px;
  }
}

//== Guest Photo & Info Region
//
.photo-and-info {
  margin-bottom: $grid-gutter-width;
  
  .info {
    margin-top: 15%; 
    
    .known-for {
    }
    
    .socialmedia {
      margin-top: $grid-gutter-width;
    }
  }
}

//== Guest additional Pictures region
//
.pictures {
  margin-top: $grid-gutter-width;
  
  img {
    margin: 0 auto;
  }
}

//== Navbar Layout
//
// Improved support for a fixed navbar and the fixed drupal toolbar
body {
  &.navbar-is-static-top {
    margin-top: 0;
  }

  /*
   * NOTE: I hate, hate, HATE, having to use "!important" 
   * HOWEVER, the fixed-top toolbar in drupal forces the body content to account for the height of the toolbar 
   * by applying a style directly on the <body> tag, thereby overriding the changes below.
   * 
   * This also explains why the original bootstrap theme design uses MARGIN instead of PADDING to move content
   * around, despite the fact that margin allows the viewer to scroll the screen even when there isn't enough 
   * actual content to fill it.
   * 
   */
  &.navbar-is-fixed-top {
    margin-top: 0;
    padding-top: $navbar-height + $navbar-border-width + $navbar-margin-bottom !important;
    &.toolbar-fixed {
      padding-top: $navbar-height + $navbar-border-width + $toolbar-fixed-default-height + $navbar-margin-bottom !important;
      &.toolbar-horizontal.toolbar-tray-open {
        padding-top: $navbar-height + $navbar-border-width + $toolbar-fixed-hrz-open-height + $navbar-margin-bottom !important;
      }
    }
    
    @media #{$tablet} {
      margin-top: 0;
      padding-top: $navbar-height-sm + $navbar-border-width + $navbar-margin-bottom !important;
      &.toolbar-fixed {
        padding-top: $navbar-height-sm + $navbar-border-width + $toolbar-fixed-default-height + $navbar-margin-bottom !important;
        &.toolbar-horizontal.toolbar-tray-open {
          padding-top: $navbar-height-sm + $navbar-border-width + $toolbar-fixed-hrz-open-height + $navbar-margin-bottom !important;
        }
      }
    }

    @media #{$normal} {
      margin-top: 0;
      padding-top: $navbar-height-md + $navbar-border-width + $navbar-margin-bottom !important;
      &.toolbar-fixed {
        padding-top: $navbar-height-md + $navbar-border-width + $toolbar-fixed-default-height + $navbar-margin-bottom !important;
        &.toolbar-horizontal.toolbar-tray-open {
          padding-top: $navbar-height-md + $navbar-border-width + $toolbar-fixed-hrz-open-height + $navbar-margin-bottom !important;
        }
      }
    }
  }

  // THIS IS BROKEN because of the "pushed to bottom of view" footer styling.
  // *** TO DO *** change so fixed bottom navbar will actually work
  &.navbar-is-fixed-bottom {
    padding-bottom: $navbar-height + $navbar-border-width;

    @media #{$tablet} {
      padding-bottom: $navbar-height-sm + $navbar-border-width;
    }

    @media #{$normal} {
      padding-bottom: $navbar-height-md + $navbar-border-width;
    }
  }

  @media #{$tablet} {
    margin-top: 0;
  }
}

//
//## Navigation Bar
.navbar {
  height: $navbar-height + $navbar-border-width;
  
  @media #{$tablet} {
    height: $navbar-height-sm + $navbar-border-width;
  }

  @media #{$normal} {
    height: $navbar-height-md + $navbar-border-width;
  }
}

.navbar-header {
  // don't let the header content wrap if the viewport is too small to hold it
  // Hide the excess so that the user can't slide the view sideways
  white-space: nowrap;
  overflow: hidden;
  
  // When the navigation is not collapsed, don't float the navbar-header it
  @media #{$grid-breakpoint} {
    float: none;
  }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  .navbar-collapse {
    max-height: $navbar-collapse-max-height;

    @media (max-device-width: $screen-xs-min) and (orientation: landscape) {
      max-height: $navbar-collapse-max-height;
    }
  }
}

.navbar-fixed-top,
.navbar-static-top {
  border-width: 0 0 $navbar-border-width;
}

.navbar-fixed-bottom {
  border-width: $navbar-border-width 0 0;
}

.container,
.container-fluid {
  > .navbar-header,
  > .navbar-collapse {
    @media #{$grid-breakpoint} {
      float: none;
      margin-right: -$navbar-padding-horizontal;
      margin-left:  -$navbar-padding-horizontal;
    }
  }
}

//
// Collapsed Navigation
.navbar-collapse {
  // set border width on right and bottom
  border-width: 0 $navbar-border-width $navbar-border-width 0;
  border-style: solid;
  box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
  
  // Set collapsible navigation to a minimum width or fit to content within available space
  width: fit-content;
  min-width: $navbar-collapse-min-width;
  
  @media #{$grid-breakpoint} {
    // clear all borders when above grid breakpoint
    border: 0px;
    box-shadow: none;
    
    // reset width and min-width above the grid breakpoint
    width: auto;
    min-width: unset;
  }
}

//
// Override Logo Navbar Button layout defaults
.navbar .navbar-btn.logo,
.navbar .navbar-btn.logo > img {
  margin:   0;
  padding:  0;

  height: $logo-image-height;
  width: $logo-image-width;

  // horizontally center the logo image when menu is not collapsed
  @media #{$grid-breakpoint} {
    @include center-block();
  }

  // Set the height on small screens
  @media #{$tablet} {
    height: $logo-image-height-sm;
    width: $logo-image-width-sm;
  }

  // Set the height on medium and larger screens
  @media #{$normal} {
    height: $logo-image-height-md;
    width: $logo-image-width-md;
  }
}

// Override Toggle button styles
.navbar-toggle {
  // Change to float left and adjust left-right margins
  float: left;
  margin-left: $navbar-padding-horizontal;
  margin-right: 0;
  
  // Eliminate extra padding and borders
  padding: 0;
  border: 0;

  // reset the margins to vertically center it
  @include sc-navbar-vertical-align($navbar-height, 20px);
  
  // Set up font size to use a glyphicon for the menu trigger
  .glyphicon,
  .fa {
    font-size: $font-size-large; // 20px;
  }
}

// Define navbar centering
.navbar-center {
  @media #{$grid-breakpoint} {
    float: none;
    text-align: center;

    > li {
      float: none;
      display: inline-block;
    }
  }
}

//
// Search Bar 

.search-bar {
  height: 44px;
  width: 175px;
  
  .input-group .form-control.form-search + .input-group-addon {
    width: 45px;
  }

  // behaviour on larger screens (uses unique breakpoint)
  @media #{$grid-breakpoint} {
    margin-top: -44px;
    float: right;

    .form-group {
      float: right;
      margin: 3px 0;
    }

    // input box is collapsed until it has focus
    .input-group .form-search {
      width: 30px;
      float: right;
      
      &:focus {
        width: 130px;
      }
    }
  }
}

// Socialmedia Icons
.field--socialmedia {
  
  display: inline-block;
  
  + .field--socialmedia {
    margin-left: $grid-gutter-width/2;
  }
  
  .field--item {
    .field--icon {
      width: (20em / 16); // This creates a fixed width
    }

    .field--label {
      display: block;
    }
  }
}
