/* base.css

  BASE RULES are the defaults, defining how an element on the page should
  *look* wherever it appears, unless otherwise customized further. These 
  will almost exclusively single element selectors but may include attribute 
  selectors, pseudo-class selectors, child selectors or sibling selectors. 

 */

// Set the height of HTML and BODY tags to 100% to allow for full screen background
html,
body {
  height: 100%;
}

// pad the top of the body to match the height of the fixed navbar
// so that the top of the content is visible when first shown
body {
  //padding-top: $navbar-height;
  
  @media #{$tablet} {
    //padding-top: $navbar-height-sm;
  }

  @media #{$normal} {
    //padding-top: $navbar-height-md;
  }
}

// Adjust body margins or padding to support the height of a fixed navbar
body {
  // Default toolbar fixed height value.
  // @see core/modules/toolbar/css/toolbar.icons.theme.css@261
  &.toolbar-fixed {
    //top: $toolbar-fixed-default-height;
    
    // Horizontal, Fixed Toolbar, Open.
    &.toolbar-horizontal.toolbar-tray-open {
      //top: $toolbar-fixed-horizontal-open-height;
    }
  }
  
  &.navbar-is-static-top {
    margin-top: 0;
  }
  &.navbar-is-fixed-top {
    // margin-top: $navbar-height;
    margin-top: 0;
    padding-top: $navbar-height;
    &.toolbar-fixed {
      padding-top: $navbar-height + $toolbar-fixed-default-height;
      &.toolbar-horizontal.toolbar-tray-open {
        padding-top: $navbar-height + $toolbar-fixed-hrz-open-height;
      }
    }
    
    @media #{$tablet} {
      //margin-top: $navbar-height-sm;
      margin-top: 0;
      padding-top: $navbar-height-sm;
      &.toolbar-fixed {
        padding-top: $navbar-height-sm + $toolbar-fixed-default-height;
        &.toolbar-horizontal.toolbar-tray-open {
          padding-top: $navbar-height-sm + $toolbar-fixed-hrz-open-height;
        }
      }
    }

    @media #{$normal} {
      //margin-top: $navbar-height-md;
      margin-top: 0;
      padding-top: $navbar-height-md;
      &.toolbar-fixed {
        padding-top: $navbar-height-md + $toolbar-fixed-default-height;
        &.toolbar-horizontal.toolbar-tray-open {
          padding-top: $navbar-height-md + $toolbar-fixed-hrz-open-height;
        }
      }
    }
  }
  &.navbar-is-fixed-bottom {
    padding-bottom: $navbar-height;

    @media #{$tablet} {
      padding-bottom: $navbar-height-sm;
    }

    @media #{$normal} {
      padding-bottom: $navbar-height-md;
    }
  }

  @media #{$tablet} {
    margin-top: 0;
  }
//  @media #{$mobile} {
//    &.toolbar-vertical {
//      // Default toolbar fixed height value.
//      // @see core/modules/toolbar/css/toolbar.icons.theme.css@261
//      &.navbar-is-fixed-top header {
//        top: $toolbar-fixed-default-height;
//      }
//    }
//  }
}