/* layout.css

  LAYOUT RULES divide the page into major sections such as Header, Footer, 
  Navigation, Content, Sidebar, Footer. These rules set details such as 
  widths, heights, alignment, margins, padding

 */

//
//== Navigation Bar
.navbar {
  height: $navbar-height;
  
  @media (min-width: $screen-sm-min) {
    height: $navbar-height-sm;
  }

  @media (min-width: $screen-md-min) {
    height: $navbar-height-md;
  }
}

.navbar-header {
  // don't let the header content wrap if the viewport is too small to hold it
  // Hide the excess so that the user can't slide the view sideways
  white-space: nowrap;
  overflow: hidden;
  
  // When the navigation is not collapsed, don't float it
  @media (min-width: $grid-float-breakpoint) {
    float: none;
  }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  .navbar-collapse {
    max-height: $navbar-collapse-max-height;

    @media (max-device-width: $screen-xs-min) and (orientation: landscape) {
      max-height: $navbar-collapse-max-height;
    }
  }
}

.container,
.container-fluid {
  > .navbar-header,
  > .navbar-collapse {
    @media (min-width: $grid-float-breakpoint) {
      float: none;
      margin-right: -$navbar-padding-horizontal;
      margin-left:  -$navbar-padding-horizontal;
    }
  }
}

//
// Override Logo Navbar Button layout defaults
.navbar .navbar-btn.logo,
.navbar .navbar-btn.logo > img {
  margin:   0;
  padding:  0;

  height: $logo-image-height;
  width: $logo-image-width;

  // horizontally center the logo image when menu is not collapsed
  @media (min-width: $grid-float-breakpoint) {
    @include center-block();
  }

  // Set the height on small screens
  @media (min-width: $screen-sm-min) {
    height: $logo-image-height-sm;
    width: $logo-image-width-sm;
  }

  // Set the height on medium and larger screens
  @media (min-width: $screen-md-min) {
    height: $logo-image-height-md;
    width: $logo-image-width-md;
  }
}


// Override Toggle button styles
.navbar-toggle {
  // Change to float left and adjust left-right margins
  float: left;
  margin-left: $navbar-padding-horizontal;
  margin-right: 0;
  
  // Eliminate extra padding and borders
  padding: 0;
  border: 0;

  // reset the margins to vertically center it
  @include sc-navbar-vertical-align($navbar-height, 20px);
  
  // Set up font size to use a glyphicon for the menu trigger
  .glyphicon {
    font-size: 20px;
  }
}

// Define navbar centering
.navbar-center {
  @media (min-width: $grid-float-breakpoint) {
    float: none;
    text-align: center;

    > li {
      float: none;
      display: inline-block;
    }
  }
}


