/* layout.css

  LAYOUT RULES divide the page into major sections such as Header, Footer, 
  Navigation, Content, Sidebar, Footer. These rules set details such as 
  widths, heights, alignment, margins, padding

 */

//
//== Navigation Bar

.navbar-header {
  @media (min-width: $grid-float-breakpoint) {
    float: none;
  }
}

.navbar-collapse {
  @media (min-width: $grid-float-breakpoint) {
    width: inherit; 

    // Undo the collapse side padding for navbars with containers to ensure
    // alignment of right-aligned contents.
    .navbar-fixed-top &,
    .navbar-static-top &,
    .navbar-fixed-bottom & {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  .navbar-collapse {
    max-height: $navbar-collapse-max-height;

    @media (max-device-width: $screen-xs-min) and (orientation: landscape) {
      max-height: 200px;
    }
  }
}

.container,
.container-fluid {
  > .navbar-header,
  > .navbar-collapse {
    @media (min-width: $grid-float-breakpoint) {
      float: none;
      margin-right: -$navbar-padding-horizontal;
      margin-left:  -$navbar-padding-horizontal;
    }
  }
}

// Define navbar logo image
.navbar-logo {
  > img {
    max-width: $brand-image-max-width;
    @include center-block();
  }
}

// Override float position of the Toggle button to be on the left instead of the right
.navbar-toggle {
  float: left;
  margin-left: $navbar-padding-horizontal;
  margin-right: 0;
  padding: 0;

  // Menu
  .glyphicon {
    font-size: 20px;
  }
}

// Define navbar centering
.navbar-center {
  @media (min-width: $grid-float-breakpoint) {
    float: none;
    text-align: center;

    > li {
      float: none;
      display: inline-block;
    }
  }
}
