/* layout.css

  LAYOUT RULES divide the page into major sections such as Header, Footer, 
  Navigation, Content, Sidebar, Footer. These rules set details such as 
  widths, heights, alignment, margins, padding

 */

//
//== <body> margins and padding
// Override to better support a fixed navbar with a fixed drupal toolbar
body {
  &.navbar-is-static-top {
    margin-top: 0;
  }
  &.navbar-is-fixed-top {
    margin-top: 0;
    padding-top: $navbar-height;
    &.toolbar-fixed {
      padding-top: $navbar-height + $toolbar-fixed-default-height;
      &.toolbar-horizontal.toolbar-tray-open {
        padding-top: $navbar-height + $toolbar-fixed-hrz-open-height;
      }
    }
    
    @media #{$tablet} {
      margin-top: 0;
      padding-top: $navbar-height-sm;
      &.toolbar-fixed {
        padding-top: $navbar-height-sm + $toolbar-fixed-default-height;
        &.toolbar-horizontal.toolbar-tray-open {
          padding-top: $navbar-height-sm + $toolbar-fixed-hrz-open-height;
        }
      }
    }

    @media #{$normal} {
      margin-top: 0;
      padding-top: $navbar-height-md;
      &.toolbar-fixed {
        padding-top: $navbar-height-md + $toolbar-fixed-default-height;
        &.toolbar-horizontal.toolbar-tray-open {
          padding-top: $navbar-height-md + $toolbar-fixed-hrz-open-height;
        }
      }
    }
  }

  &.navbar-is-fixed-bottom {
    padding-bottom: $navbar-height;

    @media #{$tablet} {
      padding-bottom: $navbar-height-sm;
    }

    @media #{$normal} {
      padding-bottom: $navbar-height-md;
    }
  }

  @media #{$tablet} {
    margin-top: 0;
  }
}

//
//== Navigation Bar
.navbar {
  height: $navbar-height;
  margin-bottom: 0px;
  
  @media #{$tablet} {
    height: $navbar-height-sm;
  }

  @media #{$normal} {
    height: $navbar-height-md;
  }
}

.navbar-header {
  // don't let the header content wrap if the viewport is too small to hold it
  // Hide the excess so that the user can't slide the view sideways
  white-space: nowrap;
  overflow: hidden;
  
  // When the navigation is not collapsed, don't float it
  @media #{$grid-breakpoint} {
    float: none;
  }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  .navbar-collapse {
    max-height: $navbar-collapse-max-height;

    @media (max-device-width: $screen-xs-min) and (orientation: landscape) {
      max-height: $navbar-collapse-max-height;
    }
  }
}

.container,
.container-fluid {
  > .navbar-header,
  > .navbar-collapse {
    @media #{$grid-breakpoint} {
      float: none;
      margin-right: -$navbar-padding-horizontal;
      margin-left:  -$navbar-padding-horizontal;
    }
  }
}

//
// Override Logo Navbar Button layout defaults
.navbar .navbar-btn.logo,
.navbar .navbar-btn.logo > img {
  margin:   0;
  padding:  0;

  height: $logo-image-height;
  width: $logo-image-width;

  // horizontally center the logo image when menu is not collapsed
  @media #{$grid-breakpoint} {
    @include center-block();
  }

  // Set the height on small screens
  @media #{$tablet} {
    height: $logo-image-height-sm;
    width: $logo-image-width-sm;
  }

  // Set the height on medium and larger screens
  @media #{$normal} {
    height: $logo-image-height-md;
    width: $logo-image-width-md;
  }
}

// Override Toggle button styles
.navbar-toggle {
  // Change to float left and adjust left-right margins
  float: left;
  margin-left: $navbar-padding-horizontal;
  margin-right: 0;
  
  // Eliminate extra padding and borders
  padding: 0;
  border: 0;

  // reset the margins to vertically center it
  @include sc-navbar-vertical-align($navbar-height, 20px);
  
  // Set up font size to use a glyphicon for the menu trigger
  .glyphicon {
    font-size: 20px;
  }
}

// Define navbar centering
.navbar-center {
  @media #{$grid-breakpoint} {
    float: none;
    text-align: center;

    > li {
      float: none;
      display: inline-block;
    }
  }
}


