/* theme.css

  THEME RULES define colours, images, and typography

 */

//== BACKGROUND Image
//
// Set the height of HTML and BODY tags to 100% to allow for full screen background image
html,
body {
  height: 100%;
}
// Set the background as an fixed image that "covers" the available space
.bg-picketwood {
  // the "picketwood" tree image
  background-image: url(../images/SequioaRedwoodTreeBark.jpg);

  // give it a 100% height so it will fill the screen
  height: 100%;
  
  // Attach, Scale and resizey
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  // position so that the top sits right at the bottom of the current navbar.
  background-position: center $navbar-height;
  @media #{$tablet} {
    background-position: center $navbar-height-sm;
  }
  @media #{$normal} {
    background-position: center $navbar-height-md;
  }
}

//== Main NAVIGATION
//
// ## Font & Text settings
.navbar-header .navbar-nav,
.navbar-collapse .navbar-nav {
  > li > a {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    font-size:   $nav-font-size-base;
    line-height: $nav-line-height-computed;
    text-transform: uppercase;
  }
}

//
// ## Default navbar colours
.navbar-default {
  .navbar-header,
  .navbar-collapse {
    background-color: $navbar-default-bg;
  }
  
  .navbar-toggle {
    .icon-bar {
      background-color: $navbar-default-toggle-icon-bar-bg;
      &:hover,
      &:focus {
        background-color: $navbar-default-toggle-hover-color;
      }
    }

    // If toggle uses an icon instead of div-bars
    .glyphicon,
    .fa {
      color: $navbar-default-toggle-icon-color;
      &:hover,
      &:focus {
        color: $navbar-default-toggle-hover-color;
      }
    }
  }
    
  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-default-border;
  }

  
  // Dropdown Menu colours
  .dropdown-menu {
    
    // Links within the dropdown menu
    > li > a {
      color: $navbar-default-dropdown-link-color;
    }

    // Hover/Focus state
    & > li > a {
      &:hover,
      &:focus {
        text-decoration: none;
        color: $navbar-default-dropdown-link-hover-color;
        background-color: $navbar-default-dropdown-link-hover-bg;
      }
    }

    // Active state
    & > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-dropdown-link-active-color;
        text-decoration: none;
        outline: 0;
        background-color: $navbar-default-dropdown-link-active-bg;
      }
    }
  }

}

//
// ## Inverse navbar colours
.navbar-inverse {
  .navbar-header,
  .navbar-collapse {
    background-color: $navbar-inverse-bg;
  }

  .navbar-toggle {
    .icon-bar {
      background-color: $navbar-inverse-toggle-icon-bar-bg;
      &:hover,
      &:focus {
        background-color: $navbar-inverse-toggle-hover-color;
      }
    }

    // If toggle uses an icon instead of div-bars
    .glyphicon,
    .fa {
      color: $navbar-inverse-toggle-icon-color;
      &:hover,
      &:focus {
        color: $navbar-inverse-toggle-hover-color;
      }
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-inverse-border;
  }
}

//## blurred background
// hack that only works b/c the background in .bg-picketwood is fixed.
.bg-blurred {
  @extend .bg-picketwood;
  border-radius: 10px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  filter: blur(10px) opacity(90%);
}

//== Define task tabbed navigation styles
.nav-tabs {
  border-bottom-color: $sphinxcon-orange;
}
.nav-tabs > li > a {
  background-color: $sphinxcon-dkbrown;
  border-bottom-color: $sphinxcon-orange;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: $sphinxcon-dkbrown;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: $sphinxcon-dkbrown;
  color: $sphinxcon-green; 
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
  color:               $sphinxcon-green;
  background-color:    $sphinxcon-dkbrown;
  border-color:        $sphinxcon-orange;
  border-bottom-color: transparent;
}

//== Update "page-header" (Title) style
.page-header {
  border-bottom: 0px;
  text-transform: uppercase;
}

//== Define styles for the "title-bar" and "featured" regions
.featured,
.title-bar {
  border-radius: 12px;
  border: 1px rgba(white,0.25) outset;
  background-color: rgba($sphinxcon_dkbrown,0.75);

  h1, .h1,
  h2, .h2,
  p {
    text-shadow: 1px 1px 2px $sphinxcon-dkbrown;
  }

  img {
    box-shadow: 1px 1px 4px 0px $sphinxcon-dkbrown;
  }
}
.featured {
  text-align: center;
  h2, .h2 {
    font-size: $font-size-featured;
  }
  
  p {
    font-family: $trmn-headings-font-family-narrow;
    font-size: $font-size-featured;
  }
}
.title-bar {
  h2, .h2 {
    text-transform: uppercase;
  }
}

//== Date and Location information at top of Front Page
//
.date-location h2,
h2.date-location {
  
  text-align: center;
  
  font-family: $trmn-organization-font-family;
  line-height: 1.25;
  margin: initial;
  
  // Make the text white with a dark stroke
  color: white;
  -webkit-text-stroke: 2px $sphinxcon-dkbrown;  // unofficial webkit "text-stroke" property, supported by most modern browsers
  text-shadow:  1px  1px 0px $sphinxcon-dkbrown, // "hack" using text shadow for IE 10 & 11
                1px -1px 0px $sphinxcon-dkbrown,
               -1px  1px 0px $sphinxcon-dkbrown,
               -1px -1px 0px $sphinxcon-dkbrown;
}


//== Main Content Styling
//
// background behind both sidebar and content
.main-content-wrapper {
  border-radius: $border-radius-large;
  border: 2px outset $sphinxcon-dkbrown;
  background-color: rgba($sphinxcon-dkbrown,0.8);
}

//== Front Page Highlight Styling
//
.highlighted {
  
  @extend .text-center;

  border: 1px solid transparent;
  border-radius: $border-radius-base;

  font-size: $font-size-large;
  font-family: $trmn-sections-font-family;
  // the "sections" font family does not have italic or bold variations, so we block them out.
  font-style: normal !important;
  font-weight: normal !important;

  @include alert-variant($highlighted-bg, $highlighted-border, $highlighted-text);
  
}


//== Content Type Field Styling
//
// "photo" and "additional picture" field images
.field--name-field-photo,
.field--name-field-additional-image-1,
.field--name-field-additional-image-2,
.field--name-field-additional-image-3 {
  img {
    border: $guest-img-border-style;
    border-radius: $border-radius-base;
  }
}

//== Photo & Info Region
//
.photo-and-info {
  .info {
    h2, .h2 {
      text-transform: uppercase;
      small, .small {
        text-transform: none;
      }
    }
    .known-for {
      font-style: italic;
    }
    
    .socialmedia {
    }
  }
}


//== Main Footer styling
//
.footer {
  background-color: $body-bg;
  border: $footer-border-width solid $sphinxcon-redorange;
  border-bottom: 0 solid transparent;
  @include border-top-radius($border-radius-large);
 
  // Not sure why this is needed, since the bottom border width is 0px 
  // but without it, a small gap appears  between the bottom of the footer 
  // and the bottom of the page when scrolled as far as possible
  margin-bottom: -$footer-border-width; 
}


// Socialmedia Icons
.field--socialmedia {
  .field--item {
  
    text-align: center;

    .field--icon {
      font-size: $font-size-base * 2;
    }

    .field--label {
      font-size: inherit;
      text-transform: uppercase;
    }
  }
}

