// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

//== jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

//== Page header.
.page-header {
  margin: 0;
}

//== Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  //border-top: 1px solid #E5E5E5;
}

//== Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

//== Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

//== Fixed Toolbar
body.toolbar-fixed {
  
  // Fix z-index.
  .toolbar-horizontal .toolbar-bar {
    z-index: ($zindex-navbar-fixed + 1);
  }

  // Fix position and width
  .navbar-fixed-top {
      top: $toolbar-fixed-default-height; // 39px;
  }
  
  // Horizontal.
  &.toolbar-horizontal.toolbar-tray-open .navbar-fixed-top {
    top: $toolbar-fixed-hrz-open-height; // 79px;
  }

}

//== Views
.view :not(.contextual) {
  position: relative;
}

//== Fixed Top Navbar
//
// Use "sticky" instead of fixed since, as of Drupal 8.5.x, core node 
// content may be wrapped by a div with the "dialog-off-canvas-main-canvas" 
// This ensures that everything in the page, including the header, is
// pushed down when the admin toolbar is visible.
.navbar-fixed-top {
  position: sticky;
}


//== kint (theme debugging)
.search-kint-results {
  background-color: ghostwhite;
}
.search-kint-results,
.search-kint {
  color: initial;
}
